@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
  font-family: 'Metropolis-Regular';
  src: url('./components/assets/fonts/Metropolis-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Metropolis-Medium';
  src: url('./components/assets/fonts/Metropolis-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Metropolis-SemiBold';
  src: url('./components/assets/fonts/Metropolis-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Metropolis-Bold';
  src: url('./components/assets/fonts/Metropolis-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis-ExtraBold';
  src: url('./components/assets/fonts/Metropolis-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}


main {
font-family: 'Metropolis-Regular';
}

.content-container {
  margin-top: 50px;
  margin-left: 300px;
  margin-right: 300px;
}

nav {
  position: relative;
  z-index: 2;
  margin-left: 0;
  margin-right: 0;
}

.text-header {
  margin-top: 120px;
}

.Ellipse-33 {
  justify-content: flex-start;
  position: absolute;
  width: 562px;
  height: 316px;
  margin: 0 17px 120px 0;
  padding: 63px 25px 236px 479px;
  -webkit-filter: blur(189.6px);
  filter: blur(150.6px);
  background-color: rgba(151, 71, 255, 0.30);
}

.app-container {
  background-color: #111111;
  z-index: 0; /* Garante que o .app-container esteja atrás do .Ellipse-34 */
 }
 
 .Ellipse-34 {
  position: absolute;
  z-index: 0; /* Ajuste conforme necessário */

  padding: 496px 80px 65px 173px;
  -webkit-filter: blur(283.5px);
  filter: blur(283.5px);
  background-color: rgba(158, 0, 255, 0.45);
 }
 .Ellipse-35 {
  z-index: 0;
  position: absolute;
  width: 412px;
  height: 743px;
  -webkit-filter: blur(316.2px);
  filter: blur(316.2px);
  background-color: rgba(20, 114, 255, 0.52);
  justify-content: end;

}
 
 .sections {
  position: relative; /* Adiciona posicionamento relativo */
  z-index: 2;
 }
 
 header {
  z-index: 1;
  position: relative;
 }